<nav class="navbar navbar-expand-lg navbar-light bg-light col-12">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto col-12">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/documents']">Documents</a>
        </li>
        <li class="nav-item ml-auto">
          <a class="nav-link" [routerLink]="['/about']">About</a>
        </li>
       </ul>
    </div>
</nav>
<!-- <div class="row">
    <div class="col-1">
        <a  [routerLink]="['/home']">Home</a>
    </div>
    <div class="col-1">
        <a  [routerLink]="['/documents']">Documents</a>
    </div>
    <div class="col-1 offset-9">
        <a  [routerLink]="['/about']">About</a>
    </div>
</div> -->